<div class="customer_show">
 <h1>マイページ</h1>
  <table>
    <tr>
     <th class="border_my customer_title">氏名</th>
     <td class="border_my customer_body"><%= @customer.last_name %>　<%= @customer.first_name %></td>
    </tr>
    
    <tr>
     <th class="border_my">フリガナ</th>
     <td class="border_my"><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
    </tr>
    
    <tr>
     <th class="border_my">郵便番号</th>
     <td class="border_my"><%= @customer.postcode %></td>
    </tr>
    
    <tr>
     <th class="border_my">住所</th>
     <td class="border_my"><%= @customer.address %></td>
    </tr>
    
    <tr>
     <th class="border_my">電話番号</th>
     <td class="border_my"><%= @customer.phone_number %></td>
    </tr>
    
    <tr>
     <th class="border_my">メールアドレス</th>
     <td class="border_my"><%= @customer.email %></td>
    </tr>
  </table>
<% if @customer == current_customer %>
 <%= link_to edit_public_customer_path(current_customer.id), class: 'nav-link text-light' do %>
 　<i class="bi bi-pencil-square" style="font-size: 2rem; color: cornflowerblue;" ></i>編集
 <% end %>
 
 
 <%= link_to addresses_path(current_customer.id), class: 'nav-link text-light' do %>
 　<i class="bi bi-truck" style="font-size: 2rem; color: cornflowerblue;" ></i>配送先一覧
 <% end %>
 
 
 <%= link_to orders_path(current_customer.id), class: 'nav-link text-light' do %>
 　<i class="bi bi-bag" style="font-size: 2rem; color: cornflowerblue;" ></i>注文履歴
 <% end %>
 <% end %>
</div>


 

