<h1>マイページ</h1>

 <div class="customer_show">
  <table>
   <tbody>
    <tr>
     <th>氏名</th>
     <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
    </tr>
    
    <tr>
     <th>フリガナ</th>
     <td><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
    </tr>
    
    <tr>
     <th>郵便番号</th>
     <td><%= @customer.postcode %></td>
    </tr>
    
    <tr>
     <th>住所</th>
     <td><%= @customer.address %></td>
    </tr>
    
    <tr>
     <th>電話番号</th>
     <td><%= @customer.phone_number %></td>
    </tr>
    
    <tr>
     <th>メールアドレス</th>
     <tb><%= @customer.email %></tb>
    </tr>
   </tbody>
  </table>
 
 
      
      <tr>
       <tb class="customer_title border_my"></tb>
       <tb class="customer_information border_my"><br></tb>
      </tr>
      
      <tr>
       <tb class="customer_title border_my"></tb>
       <tb class="customer_information border_my"></tb>
      </tr>
      
    </tbody>
   </table>
 </div>
   



<% if @customer == current_customer %>
 <%= link_to '編集', edit_public_customer_path(current_customer.id) %>
 <%= link_to '配送先一覧', addresses_path(current_customer.id) %>
<% end %>

