<h1>商品新規登録画面</h1>

<div>
<%= form_with model:@item, url: admin_items_path  do |f| %> 

<h3>商品画像</h3>
　<%= f.file_field :image, accept: "image/*" %>
<h3>商品名</h3>
 <%= f.text_field :name %>
<h3>商品説明</h3>
 <%= f.text_area :message %>
<h3>商品価格（税抜）</h3>
 <%= f.text_field :price_non_tax %>

 <%= f.submit '新規登録' %>

<% end %>
</div>
