<div class="title">
  <div class="container">
    <div class="row">
      <div class="col-4">
      <h3>商品新規登録画面</h3>
      </div>
    </div>
  </div>
</div>

<div class='container'>
 <div class='row'>
  <div class='col-10'>
   </table>
  <%= form_with model:@item, url: admin_items_path  do |f| %> 
    <tr>
     <th>
        <lavel>
        <span class='main'>商品画像</span>
　      <td><%= f.file_field :image, accept: "image/*" %></td>
      　</lavel>
     </th>
    </tr>
    
    </tr>
    
    <tr>
     <th>
      <lavel>
      <span class='main'>商品名</span>
      <%= f.text_field :name %>
      </lavel>
     </th>
    </tr>

     <tr>
     <th>
      <lavel>
      <span class='main'>商品説明</span>
      <%= f.text_area :message %>
      </lavel>
     </th>
    </tr>

     <tr>
     <th>
      <lavel>
      <span class='main'>商品価格（税抜）</span>
      <%= f.text_field :price_non_tax %>
      </lavel>
     </th>
    </tr>

     <tr>
     <th>
      <lavel>
      <span class='main'>ジャンル</span>
      <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --") %>
      </lavel>
     </th>
     </tr>

     <tr>
     <th>
      <lavel>
      <span class='main'>販売ステータス</span>
      <label><%= f.radio_button :is_active, :true %>販売中</label>
      <label><%= f.radio_button :is_active, :false %>販売停止中</label>
      </lavel>
     </th>
    </tr>

  <p><%= f.submit '新規登録',  class: 'btn btn-sm btn-primary' %></p>

   <% end %>
   </table>
  </div>
 </div>
</div>
