<div class="title">
  <div class="container">
    <div class="row">
      <div class="col-2">
          <h3><strong>管理者</strong>ログイン</h3>
      </div>
    </div>
  </div>
</div>


<div class="form-wrapper">
<div class='container'>
  <div class='row'>
    <div class="mx-auto col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      
    <%= form_with model: @admin, url: admin_session_path do |f| %>
  
    <div class="field">
      <%= f.label :メールアドレス %> 
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

  <!--パスワードの変更不要のため削除-->

    <div class="actions">
      <%= f.submit "ログイン", class: 'btn btn-sm btn-primary' %>
    </div>
    <% end %>

    <%= render "admin/shared/links" %><!--フォルダ名の変更に伴いadmins=>admin に変更-->
    </div>
  </div>
</div>
</div>