<div class="title">
  <div class="container">
      <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='mx-auto'>
      <table>
      <%= form_with model:@customer, url: admin_customer_path(@customer),method: :patch  do |f| %>
      <tr>
        <th class="customer_edit">会員ID</th>
        <th class="customer_edit"><%= @customer.id %></th>
        <th></th>
      </tr>
      
      <tr>
        <th class="customer_edit">氏名</th>
        <th class="customer_edit"><%= f.text_field :last_name %></th>
        <th class="customer_edit"><%= f.text_field :first_name %></th>
      </tr>

      <tr>
        <th class="customer_edit">フリガナ</th>
        <th class="customer_edit"><%= f.text_field :last_name_kana %></th>
        <th class="customer_edit"><%= f.text_field :first_name_kana %></th>
      </tr>

      <tr>
        <th class="customer_edit">郵便番号</th>
        <th class="customer_edit"><%= f.text_field :postcode %></th>
        <th></th>
      </tr>

      <tr>
        <th class="customer_edit">住所</th>
        <th class="customer_edit"><%= f.text_field :address %></th>
        <th></th>
      </tr>

      <tr>
        <th class="customer_edit">電話番号</th>
        <th class="customer_edit"><%= f.text_field :phone_number %></th>
        <th></th>
      </tr>

      <tr>
        <th class="customer_edit">メールアドレス</th>
        <th class="customer_edit"><%= f.text_field :email %></th>
        <th></th>
      </tr>

      <tr>
        <th class="customer_edit">会員ステータス</th>
        <th class="customer_edit"><%= f.radio_button :is_deleted, :true %>退会
            <%= f.radio_button :is_deleted, :false %>有効
        </th>
      </tr>
      <% end %>
      </table>
    　<tr><%= link_to '変更を保存',  admin_customer_path(@customer), class: 'btn btn-success font-weight-bold' %></tr>
    </div>
  </div>
</div>
