<div class="title">
  <div class="container">
    <h3 class='link'><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h3>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='mx-auto'>
      <table>
        <tr>
          <td class="border_my">会員ID</td>
          <td class="border_my"><%= @customer.id %></td>
        </tr>
        <tr>
          <td class="border_my">氏名</td>
          <td class="border_my"><%= @customer.last_name %>　<%= @customer.first_name %></td>
        </tr>
        <tr>
          <td class="border_my">フリガナ</td>
          <td class="border_my"><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class="border_my">郵便番号</td>
          <td class="border_my"><%= @customer.postcode %></td>
        </tr>
        <tr>
          <td class="border_my">住所</td>
          <td class="border_my"><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="border_my">電話番号</td>
          <td class="border_my"><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td class="border_my">メールアドレス</td>
          <td class="border_my"><%= @customer.email %></td>
        </tr>
        <tr>
          <td class="border_my">会員ステータス</td>
          <td class="border_my">
           <% if @customer.is_deleted == false %>
           有効
           <% else %>
           退会
           <% end %>
          </td>
        </tr>
        <tr>
          <td><%= link_to '編集する', edit_admin_customer_path(@customer), class: 'btn btn-success font-weight-bold' %></td>
          <td><%= link_to '注文履歴一覧を見る', admin_root_path, class: 'btn btn-primary font-weight-bold' %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

