<div class="title">
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h3>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-8'>
        <p>会員ID：<%= @customer.id %></p>
        <p>氏名：<%= @customer.last_name %>　<%= @customer.first_name %></p>
        <p>フリガナ：<%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></p>
        <p>郵便番号：<%= @customer.postcode %></p>
        <p>住所：<%= @customer.address %></p>
        <p>電話番号：<%= @customer.phone_number %></p>
        <p>メールアドレス：<%= @customer.email %></p>
        <p>会員ステータス:
         <% if @customer.is_deleted == false %>
         有効
         <% else %>
         退会
         <% end %>
        </p>
        <p><%= link_to '編集する', edit_admin_customer_path(@customer), class: 'btn btn-success font-weight-bold' %></p>
        <p><%= link_to '注文履歴一覧を見る', admin_root_path, class: 'btn btn-primary font-weight-bold' %></p>

    </div>

    </div>
  </div>
</div>

