<h1>注文履歴詳細</h1>
<p>購入者<%= @order.customer.name %></p>
<p>注文日<%= @order.created_at %></p>
<p>配送先
   <%= @order.postcode%><%= @order.address %>
   <%= @order.name %>
</p>
<p>支払い方法
</p>
<p>注文ステータス
</p>

<div>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
  </thead>
  <tobody>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

  </tobody>
</div>