aa
<%# @order_histories.each do |order_history| %>

    <h2>注文履歴一覧</h2>
    <p>注文情報</p>


<% @order_histories.each do |order_history| %>
      注文日
      <%= order_history.created_at %>

      配送先
      <%= order_history.postcode %></br><%= order_history.address %></br><%= order_history.name %></th>

      支払方法
      <%= order_history.pay_method %>

      ステータス
      <%= order_history.status %>

      <p>請求情報</p>


     商品合計
      <%= order_history.order.total_price %>

      配送料
      <%= order_history.postage %>

      ご請求額
      <%= order_history.total_price+order_history.postage %>

      <p>注文内容</p>


        商品
        単価(税込)
        個数
        小計

        <%= order_history.item %>
        <%= order_history.item.price_non_tax*1.10 %>
        <%= order_history.quantity %>
        <%= order_history.price*order_history.quantity %>
          <% @total = @total + order_history.price*order_history.quantity %>

    <% end %>
