<h2>注文履歴詳細</h2>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>支払方法</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
     <% @order_histories.each do |order_history| %>
     <tr>
       <td><%= order_history.created_at %></td>
       <td><%= order_history.postcode %><%= order_history.address %><%= order_history.name %></td>
       <td><%= order_history.pay_method %></td>
       <td><%= order_history.status %></td>
     </tr>
  </tbody>
</table>
<h2>請求情報</h2>
<table>
  
</table>

      <th>注文商品</th>
      <th>支払金額</th>
      <th>ステータス</th>
      <th>注文詳細</th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
    <% @order_histories.each do |order_history| %>
      <tr>
        
        
        <td><%= order_history.item %></td>
        <td><%= order_history.total_price %></td>
        <td><%= order_history.status %></td>
        <td><%= link_to "表示する" , item_path(item.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
