<h2>注文履歴詳細</h2>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>支払方法</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
     <% @order_histories.each do |order_history| %>
     <tr>
       <td><%= order_history.created_at %></td>
       <td><%= order_history.order.postcode %><%= order_history.order.address %><%= order_history.order.name %></td>
       <td><%= order_history.order.pay_method %></td>
       <td><%= order_history.order.status %></td>
     </tr>
     <% end %>
  </tbody>
</table>
<h2>注文内容</h2>
<table>
  <tr>
    <th>商品</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>小計</th>
  </tr>
  <tr>
    <% @orders.each do |order| %>
      <% order.order_histories.each do |hist| %>
        <td><%= hist.item.name %></td>
        <td><%= hist.item.price_non_tax %></td>
        <td><%= hist.quantity %></td>
        <td><%= hist.item.price_non_tax*hist.quantity %></td>
      <% end %>
    <% end %>
  </tr>
<h2>請求情報</h2>
<table>
  <tr>
    <th>合計金額</th>
    <th>配送料</th>
    <th><span>ご請求額</span></th>
  </tr>
  <tr>
    <th><%= @order.total_price %></th>
    <th><%= @order.postage %></th>
    <th><%= @order.total_price + @order.postage %></th>
  </tr>
</table>