    <h4 class="m__ttl_head">ログイン</h4>
<main class="sign_up">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <h6>会員の方はこちらからログイン</h6>
     <div class="teble">
      <div class="field">
        <div class="email_label"><%= f.label :メールアドレス %></div>
        <div class="text"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'log_in' %></div>
      </div>
    
      <div class="field">
        <diV class="password_label"><%= f.label :パスワード %></diV>
        <div class="text"><%= f.password_field :password, autocomplete: "current-password", class: 'log_in' %></div>
      </div>
    
    
      <div class="log_in_button">
        <%= f.submit "ログイン", {class: 'btn btn-success font-weight-bold new_button'} %>
      </div>
     </div>
    <% end %>
    <h6>会員登録がお済みでない方</h6>
    <diV class="field">
      <%= render "public/shared/links" %>
    </diV>
</main>