<h2>商品詳細</h2>

<% if @item.image.attached? %>

    <%= image_tag @item.image, size: "200x200" %><br>
<% else %>
    <%= image_tag 'no-image', size: "200x200" %><br>
  <% end %>
<%#= image_tag @item.image, size:'200x200' %>

<h3><%= @item.name %></h3>
    <%= @item.message %>
  ￥<%= @item.price.to_s(:delimited) %>(税込)

<%= form_with model: CartItem.new do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.hidden_field :customer_id, :value => current_customer.id %>
  <%= f.select :quantity, *[1..10] %>
  <%= f.submit 'カートに入れる', class: 'btn btn-success' %>
<% end %>