<h2>商品詳細</h2>
<%= image_tag @item.get_profile_image, size:'50x100' %>
<h3><%= @item.name %></h3>
    <%= @item.text %>
    <%= '￥', @item.price*1.1, '(税込)' %>

<%= form_with model: Item.new do |f| >
  <%= f.hidden_field :title, :value => "個数を選択してください" %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit 'カートに入れる', class: 'btn btn-success' %>
<% end %>