<% if customer_signed_in? %>
  <li><%= link_to '商品一覧', admin_items_path %></li>
  <li><%= link_to '会員一覧', admin_customers_path %></li>
<% else %>
  <li><%= link_to '商品一覧', admin_items_path %></li>
  <li><%= link_to '会員一覧', admin_customers_path %></li>
  <li><%= link_to 'ログアウト', destroy_admin_session_path,  method: :delete %></li>
<% end %>
