<header>
  <nav class="navbar navbar-light">
    <div class="container">

        <% if customer_signed_in? %>
          <h3><i class="fa fa-birthday-cake"></i><%= link_to  root_path,class: 'link_color header_title' do %>Nagabo Cake<% end %></h3>
          <li>ようこそ<%= current_customer.last_name %>さん</li>
          <li><%= link_to  public_customer_path(current_customer.id),class: 'link_color' do %>マイページ<% end %></li>
          <li><%= link_to  items_path,class: 'link_color' do %>商品一覧<% end %></li>
          <li><%= link_to  cart_items_path,class: 'link_color' do %>カート<% end %></li>
          <li><%= link_to  destroy_customer_session_path, method: :delete,class: 'link_color' do %>ログアウト<% end %></li>
        <% elsif admin_signed_in? %>
          <li><i class="fa fa-birthday-cake"></i><%= link_to root_path,class: 'link_color header_title' do %>Nagabo Cake<% end %></li>
          <li><%= link_to  admin_items_path,class: 'link_color' do %>商品一覧<% end %></li>
          <li><%= link_to  admin_customers_path,class: 'link_color' do %>会員一覧<% end %></li>
          <li><%= link_to  admin_root_path,class: 'link_color' do %>注文履歴一覧<% end %></li>
          <li><%= link_to  admin_genres_path,class: 'link_color' do %>ジャンル一覧<% end %></li>
          <li><%= link_to  destroy_admin_session_path, method: :delete,class: 'link_color' do %>ログアウト<% end %></li>
        <% else %>
          <li><i class="fa fa-birthday-cake"></i><%= link_to  root_path,class: 'link_color' do %>Nagabo Cake<% end %></li>
          <li><%= link_to  about_path,class: 'link_color' do %>About<% end %></li>
          <li><%= link_to  items_path,class: 'link_color' do %>商品一覧<% end %></li>
          <li><%= link_to  new_customer_registration_path,class: 'link_color' do %>新規登録<% end %></li>
          <li><%= link_to  new_customer_session_path,class: 'link_color' do %>ログイン<% end %></li>
          <li><%= link_to  new_admin_session_path,class: 'link_color' do %>管理者ログイン<% end %></li>
          
        <% end %>
    </div>
  </nav>
</header>